*{
    list-style: none;
    font-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  //  overflow-x: hidden; // penera
}


@import 'sass/colors';
@import 'sass/typography';
@import 'sass/spacing';

@import 'sass/login';
@import 'sass/navbar';
@import 'sass/footer';
@import 'sass/home';
@import 'sass/searchbox';
@import 'sass/Monitorizacao';
@import 'sass/secondpage';
@import 'sass/bilhetes';
@import 'sass/atendente';



body {
    width: 100%;
    background-color: $white-normal;
}

@import 'sass/layout';

