// Brand-colors
$blue-normal: #00579E;
$blue-dark: #00345F;
$blue-light: #66BDFF;

// Neutral-colors
$black-normal: #131313;

$white-normal: #F0F1F1;
$white-dark: #E9E9E9;
$white-light: #FEFBFF;

// Gray Scale
$gray-1: #454446;
$gray-2: #555456;
$gray-3: #666566;
$gray-4: #767576;
$gray-5: #868587;
$gray-6: #969597;
$gray-7: #A6A6A7;


.color-blue{
    color: $blue-normal;
}