// Brand-colors
$blue-normal: #00579E;
$blue-dark: #00345F;
$blue-light: #66BDFF;

$yellow-normal: #FFC300;
$yellow-dark: #996F00;


$red: #D03333;
$red-light: #F05454;

// Neutral-colors
$black-normal: #131313;

$white-normal: #F0F1F1;
$white-dark: #E9E9E9;
$white-light: #FEFBFF;

// Gray Scale
$gray-1: #454446;
$gray-2: #555456;
$gray-3: #666566;
$gray-4: #767576;
$gray-5: #868587;
$gray-6: #969597;
$gray-7: #A6A6A7;
$gray-8: #D9D9D9;

$gradient-1: linear-gradient(-60deg, $blue-normal 0%, $blue-dark 100%);
$gradient-2: linear-gradient(-60deg, $yellow-normal 0%, $yellow-dark 100%);


.blue-normal{
    color: $blue-normal;
}