
footer {
  width: 100%;
}

.footer-main {
  background: $blue-dark;
  width: 100%;
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}


.footer-content {
  display: flex;
  justify-content: space-between;
  gap : 40px;
  width: 100%;
  max-width: 1200px;
}

.footer-section {
  color: $white-normal;

  h4 {
    font-weight: 700;
    margin-bottom: 12px;
  }

  p {
    margin: 6px 0;
  }

  a {
    color: $white-normal;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: $blue-light;
    }
  }
}

.info-links {
  display: flex;
  gap: 50px;
}

.social-icons {
  display: flex;
  gap: 12px;
}

.payment-methods {
  display: flex;
  gap: 24px;
}

.nossas-redes {
  margin-top: 20px;
}

/*Zona Branca inferior ao footer (zona do copy)*/
.footer-bottom {
  background: $white-normal;
  text-align: center;
  padding: 15px 0;
  font-weight: 500;
  font-size: 14px;
  color: $black-dark;
}






/*

 Já existe uma class com nome container lá no layout,
por isso comentei aqui , pois estava adistorcer alguls elementos já criados, em contra partida vou
o max-width e de 1200px co container
adicionar a class display-flex-between lá na tag desse componente, yha wy?
podemos simplesmente usar as classes j[a preedeifinas como boas praticas.

APOS LERES APAGA SO TUDO QUE ESTA COMENTADO SE JA NAO FOR NECESSARIO

.container {
  width: 85%;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
}
*/