footer {
  width: 100%;
}

.footer-main {
  background: $blue-dark;
  width: 100%;
  padding: 48px 24px;
  display: flex;
  align-items: center;
  margin-top: 31px;  // aquele ditanciamento para os testes! mas eh padrao do template.
  justify-content: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 28px; // Distância entre as colunas
  flex-wrap: wrap; // Para quebrar em telas pequenas
}

.footer-section {
  flex: 1 1 250px; // Largura mínima de 250px, mas ajustável
  color: $white-normal;

  h4 {
    font-weight: 700;
    margin-bottom: 12px;
  }

  p {
    margin: 6px 0;
  }

  a {
    color: $white-normal;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: $blue-light;
    }
  }
}

// Seção da logo e redes sociais
.logo-social {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .footer-links {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .nossas-redes {
    margin-top: 16px;
    margin-bottom: 8px;
  }
}

.social-icons {
  display: flex;
  gap: 12px;
   :hover {
    transform: scale(1.09);
   }
}

.info-links {
  display: flex;
  flex-direction: row;     // Garante que fique lado a lado
  gap: 50px;
  flex-wrap: nowrap;       // Evita que eles quebrem linha
}


.info-links > div {
  display: flex;
  flex-direction: column;
  flex: 1 1 200px;
}




.payment-methods {
  display: flex;
  gap: 24px;
  margin-top: 12px;
    :hover {
    transform: scale(1.05);
    }
}

// Parte branca inferior do footer
.footer-bottom {
  background: $white-light;
  text-align: center;
  padding: 15px 0;
  font-weight: 500;
  font-size: 14px;
  color: $blue-dark;
}


//testando a responsividade

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    gap: 32px;
  }

  .footer-section {
    align-items: center;
    text-align: center;
  }

  .footer-bottom {
    padding: 12px 10px;
    font-size: 12px;      
    text-align: center;
  }

  .social-icons,
  .payment-methods {
    justify-content: center;
  }

  @media (max-width: 600px) {
    .info-links {
      flex-direction: column;
      gap: 24px;
      align-items: center;
    }
  }
}
