
footer {
  width: 100%;
}

.footer-main {
  background: #002D5B;
  width: 100%;
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 85%;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-section {
  color: #fff;

  h4 {
    font-weight: 700;
    margin-bottom: 12px;
  }

  p {
    margin: 6px 0;
  }

  a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: #FDC500;
    }
  }
}

.info-links {
  display: flex;
  gap: 50px;
}

.social-icons {
  display: flex;
  gap: 12px;
}

.payment-methods {
  display: flex;
  gap: 24px;
}

.footer-bottom {
  background: #F8F9FA;
  text-align: center;
  padding: 15px 0;
  font-weight: 500;
  font-size: 14px;
  color: #333;
}

.nossas-redes {
  margin-top: 20px;
}
