.hero {
  position: relative;
  width: 100%;
  height: 540px;
  overflow: hidden;

  .carousel {
    display: flex;
    height: 100%;
    transition: transform 0.8s ease-in-out;

    .carousel-slide {
      flex-shrink: 0;
      width: 100vw;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain; // Mostra a imagem completa sem cortar nem distorcer
      }
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.42);
    z-index: 1;
  }

  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1100px;
    text-align: center;
    z-index: 2;

    h1 {
      color: $white-normal;
      font-weight: 400;
      font-size: 65px;
      line-height: 1.2;
      z-index: 3;
      white-space: nowrap;

      span {
        font-weight: 700;
        color: $yellow-normal;
      }
    }

    .hero-image {
      width: 90%;
      max-width: 1104px;
      height: auto;
      z-index: 3;
      margin-top: 20px;
    }
  }

  .carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: $black-normal;
    border: none;
    width: 50px;
    height: 80px;
    font-size: 24px;
    cursor: pointer;
    z-index: 4;

    &.prev {
      color: $white-light;
      left: 30.33px;
    }

    &.next {
      color: $white-light;
      right: 30.33px;
    }
  }
}

/////////////////////////////////////////////////////////////////////////////////////////////////////
                           /* scss for Search-box */
/////////////////////////////////////////////////////////////////////////////////////////////////////
 
//  APAGADO  APAGADO  APAGADO  APAGADO  APAGADO  APAGADO  APAGADO  APAGADO  APAGADO  APAGADO  APAGADO 
// APAGADO  APAGADO  APAGADO  APAGADO  APAGADO  APAGADO  APAGADO  APAGADO  APAGADO  APAGADO APAGADO

/////////////////////////////////////////////////////////////////////////////////////////////////////
                           /*scss for Bloco publicitario*/
/////////////////////////////////////////////////////////////////////////////////////////////////////


.viagem-container {
  width: calc(100% - 501px); // Largura total menos margens
  margin-left: 252px;
  margin-right: 249px;
  padding: 20px;
  background-color: $white-normal;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  
  

  .texto-sobreposto {
    width: 100%;
    max-width: 646px;
    height: 42px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 110%;
    letter-spacing: 0%;
    color: $blue-dark;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    white-space: nowrap;

    img {
      width: 32px;
      height: 32px;
    }
  }

  .caixa-imagem {
    width: 100%;
    max-width: 1416px;
    height: 250px;
    border-radius: 10px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
    }
  }
}

