header{
    max-width: 1200px;

    margin: 0 auto;

    padding: 8px 24px;
}


a{
    text-decoration: none;
    color: $white-dark;
}
.elements{
    background: $gradient-1;
    border-radius: 5px;
    width: 207px;
    height: 207px;
    p{
        color: $white-normal;
    }
}
.titulo_dash{
     color: $blue-dark;
}
.main-dash{
    display: flex;
    justify-content: space-between;
}
.boxs{
    display: flex;
    
}
.broke-line{
    display: flex;
    justify-content: flex-end;
    
    flex-wrap:wrap;
    
}
.elemensts_value{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.Perfil{
    display: flex;
}
.r-side{
    align-items: center;
}
.menubar{
    display: flex;
    flex-direction: column;
}
.Box-main{
    width: 1100px;
    height: auto;
    background-color:$white-dark;
}

.flex{
    display: flex;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 8px 24px;
    justify-content: center;
}

.border{
    border: 1px solid $gray-7;
    border-radius: 15px;
}

.menu{
    list-style: none;
    display: flex;

    li{
        margin-left: 24px;
    }
}

.nav-link{
    display: inline-block;

    padding: 8px;

    transition: .5s ease;

    &:hover{
        opacity: .7;
    }
}
.input-search{

    border: 0;
    border-radius: 4px;
    color: $white-light;
}

.img-profile{
    width: 56px;
    height: 56px;
    background-color: $gray-2;
    border-radius: 50%;
}

.container-posts{
    display: flex;

}
.icon{
    width: 36px;
    height: 36px;
    background-color: $blue-dark;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}