.container-login {
  display: flex;
  align-items: center;
    height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    gap: 50px;
    justify-content: space-between;
   
 
}

.cadastro-post{
  
background-color: $blue-normal;
color: $white-normal;
h1{
    font-size: 46px;
    font-weight: 550;
    margin-left: 24px;
   margin-top: 14px;
   margin-bottom: 20px;
}
span{
    font-weight: 700;
    color: $yellow-normal;
}
 max-width: 576px;
 max-height: auto;
 width: 100%;
 
 overflow: hidden;
 border-radius: 10px;
 img{
    width: 110%;
    margin: 0;
 }
}

.login-post{
  
    background-color: $blue-dark;
    color: $white-light;
    h1{
        font-size: 46px;
        font-weight: 550;
        margin-left: 24px;
       margin-top: 14px;
       margin-bottom: 20px;
    }
    span{
        font-weight: 700;
        color: $yellow-normal;
    }
     max-width: 576px;
     max-height: auto;
     width: 100%;
     
     overflow: hidden;
     border-radius: 10px;
     img{
        width: 110%;
        margin: 0;
     }
    }

.termos{
    margin-top: 12px;
    text-align: center;
    span{
        color: $blue-normal;
      text-decoration: underline;
    }
   
}

.conta{
    margin-top: 12px;
    text-align: center;
    span{
        color: $blue-normal;
        font-weight: 700;
    }
}

.labels{
    .button-cadastar{
        color: $white-normal;
        font-size: 20px;
        font-weight: 550;
        border-style: none;
        background-color: $blue-normal;
        border-radius: 5px;
       width: 490px;
         height: 30px;

         margin-top: 12px;

    }

    .button-login{
        color: $blue-dark;
        font-size: 20px;
        font-weight: 550;
        border-style: none;
        background-color: $yellow-normal;
        border-radius: 5px;
       width: 490px;
         height: 30px;

         margin-top: 12px;

    }


    .label{
        p{
            margin-bottom: 6px;
        }
        margin-top: 12px;
    }
}
.cadastro-form{
    display: flex;
    flex-direction: column;
    align-items: start;

    .login-h2{
        span{
            color: $yellow-normal;
        }
    }
   
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input:focus {
        border: 2px solid $blue-light; /* azul */
        outline: none;             /* remove contorno automático */
      }

    p{
        font-size: 12px;
        color: $black-normal;
        
    }

    max-width: 550px;
 max-height: auto;
 width: 100%;

 h2{
   
    font-size: 36px;
    font-weight: 550;
    color: $gray-1;
    span{
        font-weight: 700;
        color: $blue-normal;
    }
 }

.logo-login{
    margin-bottom: 20px;
}

}

.label{
   input{

        border-style: none;
        background-color: transparent;
        border: $gray-7 solid 1px;
        border-radius: 5px;
        padding-left: 10px; ;
       width: 490px;
         height: 30px;
      
    }
    span{
        font-size: 12px;
        color: $red-light;
    }
}

//vamos ver como fica o drop down
.usuario-menu {
    position: relative;
  
    .btn-nome-usuario {
      background: none;
      border: none;
      cursor: pointer;
      color: #333;
      font-weight: 500;
      display: flex;
      align-items: center;
      gap: 6px;
  
      &:hover {
        color: $blue-light;
        transition: 0.3s ease;
      }
    }
  
    .dropdown-usuario {
      position: absolute;
      top: 100%;
      right: 0;
      background: $white-normal;
      border: 1px solid #ddd;
      border-radius: 6px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      list-style: none;
      padding: 6px 0;
      margin: 16px 0 0 0;
      width: 200px;
      z-index: 999;
        transition: 0.3s ease;
      
      &:hover {
       button{ 
        color: $red-light;
        font-weight: 500;
        transition: 0.3s ease;
    }
      }
  
      li {
        padding: 8px 16px;
  
        button {
          width: 100%;
          text-align: left;
          background: none;
          border: none;
          font-size: 14px;
          color: #333;
          cursor: pointer;
  
         
        }
      }
    }
  }
  