// Estilo do Header
header {
  width: 100%;
}

// Estilo da Navbar principal
.navbar {
  width: 100%;
  background-color: $white-normal;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);

  // Background Branco da Navbar (100% largura)
  .navbar-bg {
    width: 100%;
    background-color: $white-normal;

    // Container centralizado
    .container-navbar {
      max-width: 1400px;
      margin: 0 auto;
      padding: 0 40px;
      height: 103px;

      display: flex;
      justify-content: space-between;
      align-items: center;

      // Logo da navbar
      .logo-nav {
        display: flex;
        align-items: center;

        img {
          width: 216px;
          height: 46px;
        }
      }

      // Lista de navegação
      .nav-liste {
        ul {
          display: flex;
          align-items: center;
          list-style: none;
          margin: 0;
          padding: 0;

          li {
            margin-left: 20px;
            display: flex;
            align-items: center;

            // Separador entre os itens (exceto o primeiro)
            &:not(:first-child)::before {
              content: '|';
              margin: 0 10px;
              color: $black-normal;
              font-weight: bold;
            }

            // Links de navegação
            a {
              text-decoration: none;
              color: $black-normal;
              font-weight: 550;
              display: flex;
              align-items: center;
              gap: 5px;
              font-size: 14px;

              &:hover {
                color: $blue-light;
                transition: 0.3s ease;
              }
            }

            // Ícones ao lado dos links
            img {
              height: 16px;
              
            }
          }
        }
      }
    }
  }
}
